.color-selector {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-selector.animated {
  animation: grow 200ms ease 0s 1 forwards;
}
@keyframes grow {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
  }
}

.color-info.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  border-radius: 4px;
  background-color: rgba(26, 26, 26, 0.5);
  box-shadow: inset 4px 4px 2px rgba(26,26,26,0.08);
  color: #fff;
  padding: 10px;
}

.color-info {
  margin: 0;
  line-height: 2em;
}

.color-info.color {
  font-size: 2em;
}
